<div class="body">
  <header class="header-page">
    <h1>
      Audio-guesser
    </h1>
    <hr class="gray-line">
  </header>
  <article>
    <div class="block">
      <img class="icon" src="../assets/text_icon.png" alt="text icon">
      <textarea [(ngModel)]="searchQuery" class="text_input" type="text" placeholder="Enter the text"></textarea>
    </div>
    <div class="block">
      <img class="icon" src="../assets/note_icon.png" alt="note icon">
      <div class='audio-recorder-container'>
        <button class="start-button" *ngIf="!isRecording && !blobSafeUrl" (click)="startRecording()">Start Recording</button>
        <button class="stop-button" *ngIf="isRecording && !blobSafeUrl" (click)="stopRecording()">Stop Recording</button>
        <button class="cancel-button" *ngIf="!isRecording && blobSafeUrl" (click)="clearRecordedData()">Clear Recording</button>
        <div *ngIf="isRecording && !blobSafeUrl"> {{recordedTime}} </div>
        <div>
        <audio *ngIf="!isRecording && blobSafeUrl"  controls>
          <source [src]="blobSafeUrl" type="audio/webm">
        </audio>
        </div>
      </div>
    </div>
    <div class="submit-buttons">
      <button (click)="submitText()" [disabled]="isLoadingData">Submit text</button>
      <button (click)="submitSound()" [disabled]="isLoadingData">Submit sound</button>
    </div>
    <div class="last_block">
      <h2 class="center_pos">That's it?</h2>
      <div class="center_pos">
        <audio *ngIf="foundSongBlob" controls>
          <source [src]="foundSongBlob" type="audio/webm">
        </audio>
      </div>
    </div>
  </article>
  <footer>
    <p class="center_pos made_by">Made by "100 debug hours"</p>
  </footer>
</div>
