<div class="body">
  <header class="header-page">
    <h1>
      Audio-guesser
    </h1>
    <hr class="gray-line">
  </header>
  <article>
    <div class="block">
      <img class="icon" src="../assets/text_icon.png" alt="text icon">
      <input class="text_input" type="text" placeholder="Enter the text">
    </div>
    <div class="block">
      <img class="icon" src="../assets/note_icon.png" alt="note icon">
      <input class="text_input" type="text" placeholder="place for recording sound"><!--place for recording sound-->
    </div>
    <div class="last_block">
      <h2 class="center_pos">That's it?</h2>
      <div class="center_pos"><!--place for song-->
          place for song
      </div>
      <div class="center_pos btn_form">
        <button>Yes</button>
        <button>No</button>
      </div>
    </div>
  </article>
  <footer>
    <p class="center_pos made_by">Made by "100 debug hours"</p>
  </footer>
</div>